.language-logo {
    width:128px;
    height:128px;
    padding: 2rem;
}

.border {
    border: 1px solid lightslategray;
    cursor: pointer;
}

.border:hover {
    background-color: rgb(240,240,240);
}

.mona {
    cursor: pointer;

}

.mona:hover {
    color: rgb(200,0,0);
}