.language-logo {
    width:128px;
    height:128px;
    padding: 2rem;
}

.border {
    border: 1px solid lightslategray;
    cursor: pointer;
}

.border:hover {
    border: 1px solid darkslategray;
    background-color: rgb(249,249,249);
}

.mona {
    cursor: pointer;
    color: rgb(200,0,0);
}

.mona:hover {
    color: rgb(100,0,0);
}